# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/

# MicroPython & IDE
.thonny/
*.sublime-workspace
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Documentation source PDFs
*.pdf
